@font-face{
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('../font/JetBrains/JetBrainsMono-Regular.ttf') format("truetype");
}

@font-face {
    font-family:'Noto Sans';
    src:url('../font/NoteSansSC/NotoSansSC-Regular.ttf') format("truetype");; /* 修改成你的字体 */
    font-display:swap
}
body {
    font-family: 'JetBrains Mono','Noto Sans';
}

h1#site-title {
    font-family:Noto Sans!important
}
span#subtitle {
    font-family:Noto Sans!important
}
a#site-name {
    font-family:Noto Sans!important
}